<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      <img src="../../assets/icon/logo.png" alt="" width="120px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="messages">
    <div class="chat-message">
      <div class="circle"></div>
      <p class="message-text">Hi I'm bot, How can I help you?</p>
    </div>
    <div class="chat-message-reverse">
      <div class="circle"></div>
      <p class="message-text-sender">I'm having a headache</p>
    </div>
    <div class="chat-message">
      <div class="circle"></div>
      <p class="message-text">How long do you headache?</p>
    </div>
    <div class="chat-message-reverse">
      <div class="circle"></div>
      <p class="message-text-sender">For about a day.</p>
    </div>

  </section>

</ion-content>

<ion-footer class="foot">
  <input type="text" class="message-input" placeholder="Enter Message" />
  <ion-button style="margin-left: 20px;">
    <ion-icon name="send-outline"></ion-icon>
  </ion-button>
</ion-footer>