<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      <img src="../../assets/icon/logo.png" alt="" width="120px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="text-center">Welcome, <b>User Name</b></h3>

  <hr>

  
  <ion-item button detail lines="none"  [routerLink]="['/chat']">
    <ion-label>
      Chat For Assistance
    </ion-label>
    <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon> 
  </ion-item>
  <ion-item button detail lines="none" [routerLink] = "['/nearbyhospital']">
    <ion-label>
      Nearby Hospitals
    </ion-label>
    <ion-icon name="navigate-circle-outline" slot="start"></ion-icon> 
  </ion-item>
  <ion-item button detail lines="none" [routerLink] = "['/nearbymedshop']">
    <ion-label>
      Nearby Pharmacy 
    </ion-label>
    <ion-icon name="compass-outline" slot="start"></ion-icon>
  </ion-item>

  <hr>

  <ion-item button detail lines="none" [routerLink] = "['/profile']">
    <ion-label >
      Profile
    </ion-label>
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item button detail lines="none" [routerLink] = "['/settings']">
    <ion-label>
      Settings
    </ion-label>
    <ion-icon name="settings-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item button detail lines="none" [routerLink] = "['/help']">
    <ion-label>
      Help
    </ion-label>
    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
  </ion-item>

</ion-content>


<!-- <header class="head">
  <p style="font-size: calc(20px * 2); margin-left: 20px; cursor: pointer;">=</p>
  <h1>HealthBot</h1>
</header>

<section class="messages">
  <div class="chat-message">
      <div class="circle"></div>
      <p class="message-text">Hi I'm bot, How can I help you?</p>
  </div>
  <div class="chat-message-reverse">
      <div class="circle"></div>
      <p class="message-text-sender">I'm having a headache</p>
  </div>
  <div class="chat-message">
      <div class="circle"></div>
      <p class="message-text">How long do you headache?</p>
  </div>
  <div class="chat-message-reverse">
      <div class="circle"></div>
      <p class="message-text-sender">For about a day.</p>
  </div>
  
</section>

<footer class="foot">
  <input type="text" class="message-input" placeholder="Enter Message"/>
  <button class="send-button" id="btn">Send</button>
</footer> -->


